body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../image/back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}/*--Footer*/
footer {
    background: linear-gradient(#D66894, #906FA2);
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}/*--End--*/
/*--Navigation Bar--*/
.navbar{
    background: linear-gradient(#D66894, #906FA2);
    display: flex;
    justify-content: space-between; /* Align children with space between */
    align-items: center; /* Vertically center children */
    margin: 0, auto;
    width: 100%;
    height: 88px;

}
.nav-menu ul{
    display: flex;
    list-style-type: none;
    margin: 0, auto;
    padding: 0, auto;
    margin-left: 30px;
    align-items: center;
}
/*Home, Services, About Spacings*/
.nav-link{
    margin-left: 200px;
    margin-right: 200px;
    list-style-type: none;
    align-items: center;
}
.nav-menu li{
    list-style-type: none;
    align-items: center;
    margin-left: 30px;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    margin: 10px;
    padding-bottom: 8px;
 }
 .link:hover{
    border-bottom: 2px solid #fff;
}
li[id="logout"]{
  margin-left:200px;
}
li[id="prof"]{
  margin-left: 20px;
}/*--End--*/
/*--End of Navbar--*/
        /* Track */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(214, 104, 148, 0.9), rgba(144, 111, 162, 0.7)); /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #EF9FBF; /* Color of the scroll thumb on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle when it's dragged */
::-webkit-scrollbar-thumb:active {
  background-color: #C65D7A; /* Color of the scroll thumb when dragged */
}
h3{
  padding-top: 500px;
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
  color: #815164;
}
/*Animation*/
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake-animation {
  animation: shake 0.5s ease forwards;
}
